# Chặn các folder build tự sinh
/Debug/
/Release/
/.settings/
/Drivers/
/Startup/

# Chặn file cấu hình dự án của STM32CubeIDE / Eclipse
.cproject
.project

# Chặn file config debug cá nhân
*.launch
*.o
*.d
*.su
*.cyclo
*.elf
*.hex
*.bin
*.map
*.list

# Chặn file rác hệ điều hành
.DS_Store
Thumbs.db
desktop.ini
